#wrapper,#innergrid,#home,#aboutme,#culture,#contact,#logo,#writing, #main,#image {
}


#wrapper {
  display: grid;
  grid-gap: 2px;
    font-size:50px;
    background-color: #80A1C1;
    padding:10px; 
}

#innergrid {
  display: flex; 
  justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color:#EEE3AB;
    height: 200px;
    font-family:'Tajawal',sans-serif;
}

#home, {
     border-right: 5px solid black;
    order:1;
}

   
#aboutme, {
    order:2;
    border-left-style: solid;
}
#logo, {
    order:3;
    border-right: 5px solid black;
}
#culture, {
    top:0;
    right: -1;
    border-right: 5px solid black;
    order:4;
}
#contact {
    right:0;
    top:0
  flex: 1;
    order:5;
}

    


#logo {
    position;align-self: middle;
    top: 0;
    left: 50%;
    object-position: top;
}


#image {
    height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#writing {
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size:25x;
    
}

#main {
    height:30px;
}

#innergrid {
    grid-template-areas: "home aboutme logo culture contact"
}

#home {
    grid-area: home;
}

#aboutme {
    grid-area: aboutme;
}

#logo {
    grid-area: logo;
}

#culture {
    grid-area: culture;
}

#contact {
    grid-area: contact;
}


